/*
This file applies all styles to every file that
references styles.css in the <head> section of the
html file (href="styles.css")
*/

/* Sets the padding/margins/border amount for the whole page */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* background color */
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    
}

/* Title text formatting */
h1{
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 400%;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 65px;

}

/* Paragraph text formatting */
p{
    color: rgb(248, 248, 248);
    margin: 40px;
}

a{
    color: rgb(254, 254, 254);
}

.header{
    background-color: rgba(35, 35, 35, 0.99);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

/* Main menu properties */
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

/* Main menu text properties */
.header ul a{
    display:block;
    padding:20px;
    text-decoration: none;
}

/* Darken the menu text while hovering on it */
.header ul a:hover{
    color: #bebebe;
}

/* Logo properties */
.header .logo{
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* Mobile Menu ------------------------------------------- */

.header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
    text-align: center;
}

/* Parent properties for the hamburger menu icon */
.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

/* Hamburger menu icon code ------------------------ */

.header .menu-icon .nav-icon{
    background: rgb(254, 254, 254);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: rgb(254, 254, 254);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after{
    background: rgb(254, 254, 254);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}
/* End hamburger menu icon code -------------------- */


/* Animation code for hamburger menu */
.header .menu-btn:checked ~ .menu{
    max-height: 500px;;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

/* End animation code */


/* Desktop version */
@media (min-width: 73em){
    .header li{
        float: left;
        /* position: relative; */
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
}